<!DOCTYPE html> 
  head
    title Personal Blog - #{article.title}
    link(rel='stylesheet', href='/styles.css')

  body
    h2 #{article.title}
    h3 #{article.createdAt}
    p #{article.content}

