<!DOCTYPE html> 
  head
    title Personal Blog - Admin
    link(rel='stylesheet', href='/styles.css')

  body
    h1 Admin
    a(href="/admin/add") Add new Article
    table
        tbody 
            each article in articles
                tr
                    td 
                        a(href="/articles/"+article.id) #{article.title}
                    td 
                      a(href="/admin/edit/" + article.id) Edit
                    td 
                      a(href="/admin/delete/"+ article.id) Delete