<!DOCTYPE html> 
  head
    title Personal Blog
    link(rel='stylesheet', href='/styles.css')

  body
    h1 Personal Blog
    table
        tbody 
            each article in articles
                tr
                    td 
                        a(href="/articles/"+article.id) #{article.title}
                    td #{article.createdAt}
